<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dependent Dropdown Form with Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <form @submit.prevent="saveData">
            <label for="city">Город:</label>
            <select v-model="selectedCity" @change="updateFactories">
                <option value="">Выберите город</option>
                <option v-for="(factories, city) in data" :value="city">{{ city }}</option>
            </select><br><br>

            <label for="factory">Цех:</label>
            <select v-model="selectedFactory" @change="updateEmployees">
                <option value="">Выберите цех</option>
                <option v-for="factory in factories" :value="factory">{{ factory }}</option>
            </select><br><br>

            <label for="employee">Сотрудник:</label>
            <select v-model="selectedEmployee">
                <option value="">Выберите сотрудника</option>
                <option v-for="employee in employees" :value="employee">{{ employee }}</option>
            </select><br><br>

            <label for="team">Бригада:</label>
            <select v-model="selectedTeam">
                <option value="1">Бригада 1</option>
                <option value="2">Бригада 2</option>
                <option value="3">Бригада 3</option>
            </select><br><br>

            <label for="shift">Смена:</label>
            <select v-model="selectedShift">
                <option value="morning">Утренняя</option>
                <option value="evening">Вечерняя</option>
                <option value="night">Ночная</option>
            </select><br><br>

            <button type="submit">Сохранить</button>
        </form>

        <div id="savedDataContainer">
            <h3>Сохраненные данные:</h3>
            <pre>{{ savedData }}</pre>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                data: {
                    "City1": {
                        "Factory1": ["Employee1", "Employee2"],
                        "Factory2": ["Employee3", "Employee4"]
                    },
                    "City2": {
                        "Factory3": ["Employee5", "Employee6"],
                        "Factory4": ["Employee7", "Employee8"]
                    }
                },
                selectedCity: '',
                selectedFactory: '',
                selectedEmployee: '',
                selectedTeam: '',
                selectedShift: '',
                factories: [],
                employees: [],
                savedData: ''
            },
            methods: {
                updateFactories() {
                    this.factories = this.selectedCity ? Object.keys(this.data[this.selectedCity]) : [];
                    this.selectedFactory = '';
                    this.employees = [];
                    this.selectedEmployee = '';
                },
                updateEmployees() {
                    this.employees = this.selectedFactory ? this.data[this.selectedCity][this.selectedFactory] : [];
                    this.selectedEmployee = '';
                },
                saveData() {
                    const values = {
                        city: this.selectedCity,
                        factory: this.selectedFactory,
                        employee: this.selectedEmployee,
                        team: this.selectedTeam,
                        shift: this.selectedShift
                    };
                    document.cookie = "formData=" + JSON.stringify(values) + "; path=/";
                    alert("Данные сохранены в Cookie");
                    this.displaySavedData();
                },
                getCookie(name) {
                    let match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                    if (match) {
                        return JSON.parse(match[2]);
                    } else {
                        return null;
                    }
                },
                displaySavedData() {
                    const savedData = this.getCookie("formData");
                    if (savedData) {
                        this.savedData = JSON.stringify(savedData, null, 2);
                    } else {
                        this.savedData = "Нет сохраненных данных.";
                    }
                }
            },
            mounted() {
                this.displaySavedData();
            }
        });
    </script>
</body>
</html>